* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-size: small;
  background-color: black;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size:medium;
  color: white;
}

.App-link {
  color: #61dafb;
}



.botUl {
  display: flex;
  flex-wrap: wrap;
  width: 97%;
  margin: auto;
  justify-content: space-around;
}


.botLi {
  width: 21%;
  list-style: none;
  border: thin solid rgb(146, 41, 41);
  margin: 7px;
  border-radius: 12px;
  line-height: 1.5em;
  word-break: break-all;
  background-color: rgb(109, 12, 101);
  color: black;

}

span {
  padding-right: 5px;
}

.deleteBtn {
  margin: 2px;
  background-color: rgb(0, 255, 85);
  color: rgb(19, 17, 17);
  border-radius: 50px;
  padding: 5px;
  width: 18%;
  
}

header {
  width: 100%;
  background-color: rgb(53, 168, 189);
  padding: 10px;
  font-size: 3vw;
  font-weight:bold;
  color: rgb(196, 105, 105);
  margin-bottom: 20px;
}

.armyDiv {
  min-height: 350px;
  width: 97%;
  background-color: rgb(40, 43, 197);
  margin: 10px auto 40px auto;
  border-radius: 10px;
}

.LinkCollection {
  color: black;
  text-decoration: none;
}

.specDiv {
  width: 70%;
  background-color: #164080;
  border: thin solid gray;
  margin: 10px auto 40px auto;
  height: 500px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.specContent {
  text-align: start;
  line-height: 2em;
}

.btnSpec>button {
  margin: 10px 22px 10px 10px;
  padding: 6px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: black;
  color: white;
  width: 120px;
}

.navSpec {
  width: 200px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 20px;


}
